* {
    background-color: transparent;    
}

.about-wrapper {
    position: relative;
    width: 100vw;
    display: flex;
    margin: 0;
    flex-direction: row;
    z-index: 500;
}

.about-left {
    width: 20vw;
    margin-left: 1vw;
    margin-right: 1vw;
    height: 90vh;
    margin-bottom: 2vh;
    margin-top: 2vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-left * {
    padding-bottom: 0.5vh;
}

.about-left p {
    font-size: calc(0.4vw + 0.5vh + 0.5vmin);
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vh;
}

.about-left img {
    width: calc(5vw + 5vh + 1vmin);
;
    height: auto;
    padding-bottom: 4vh;
}

.about-right {
    width: 77vw;
    padding-left: 5vw;
    padding-right: 7vw;
    padding-top: 7vh;
}

.about-right * {
    font-size: calc(0.4vw + 0.5vh + 0.5vmin);
    font-weight: light;
    line-height: 2;
    text-align: left;
}

.about-right .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
