.App {
        color: white;
        height: 100vh;
  text-align: center;
background: radial-gradient(ellipse at top, #151f21, transparent),
            radial-gradient(ellipse at top right, #0b343b, transparent),
            radial-gradient(ellipse at bottom, #0b343b, transparent),
            radial-gradient(ellipse at left, #000000, transparent),
            radial-gradient(ellipse at left top, #000000, transparent),
            radial-gradient(ellipse at left bottom, #000000, transparent),
            radial-gradient(ellipse at right, #0b343b, transparent),
            radial-gradient(ellipse at right bottom, #005a47, transparent);
  height: 100vh;
}

